In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
all11 = pd.read_csv("all1112.csv")

In [3]:
all21 = pd.read_csv("CSB_2021-2023_All.csv")

C:\Users\Iurii Novachynskyi\AppData\Local\Temp\ipykernel_1616\3330593353.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  all21 = pd.read_csv("CSB_2021-2023_All.csv")

In [41]:
geo = pd.read_excel('bikeshare_geodata.xlsx')
geo[['start_lat', 'start_lng']] = geo['location'].str.strip('()').str.split(', ', expand=True).astype(float)

In [42]:
geo

,Unnamed: 0,location,start station,start_lat,start_lng
0,0,"(38.8972217, -77.019347)",5th & F St NW,38.897222,-77.019347
1,1,"(38.9267997, -77.0322)",14th & Harvard St NW,38.926800,-77.032200
2,2,"(38.9366935, -77.0241778)",Georgia & New Hampshire Ave NW,38.936693,-77.024178
3,3,"(38.91711546315044, -77.02599642535804)",10th & U St NW,38.917115,-77.025996
4,4,"(38.9230634, -77.0425361)",Adams Mill & Columbia Rd NW,38.923063,-77.042536
...,...,...,...,...,...
189,189,"(38.8054518, -77.0504514)",King St & Patrick St,38.805452,-77.050451
190,190,"(38.8114557, -77.050276)",Henry St & Pendleton St,38.811456,-77.050276
191,191,"(38.889335, -77.0777248)",Arlington Blvd & N Queen St,38.889335,-77.077725
192,192,"(38.8848997, -77.0879448)",Barton St & 10th St N,38.884900,-77.087945
193,193,"(38.889212150000006, -77.05017197314066)",Lincoln Memorial,38.889212,-77.050172

In [49]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     194 non-null    int64
 1   location       194 non-null    object
 2   start station  194 non-null    object
 3   start_lat      194 non-null    float64
 4   start_lng      194 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 7.7+ KB

In [4]:
df11 = all11.copy()
df21 = all21.copy()

In [43]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3255678 entries, 0 to 3255677
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   Duration              int64
 1   Start date            datetime64[ns]
 2   End date              datetime64[ns]
 3   Start station number  int64
 4   Start station         object
 5   End station number    int64
 6   End station           object
 7   Bike number           object
 8   Member type           category
 9   Time                  timedelta64[ns]
dtypes: category(1), datetime64[ns](2), int64(3), object(3), timedelta64[ns](1)
memory usage: 226.7+ MB

In [24]:
df21.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6157609 entries, 0 to 8180625
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   Start station         object
 1   Start station number  object
 2   End station           object
 3   End station number    object
 4   start_lat             float64
 5   start_lng             float64
 6   end_lat               float64
 7   end_lng               float64
 8   Member type           category
 9   Start date            datetime64[ns]
 10  End date              datetime64[ns]
 11  Time                  timedelta64[ns]
 12  Duration              int64
dtypes: category(1), datetime64[ns](2), float64(4), int64(1), object(4), timedelta64[ns](1)
memory usage: 616.6+ MB

In [55]:
df11

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Time,start_lat,start_lng,end_lat,end_lng
0,475,2012-01-01 00:04:00,2012-01-01 00:11:56,31245,7th & R St NW / Shaw Library,31109,7th & T St NW,W01412,member,0 days 00:07:56,38.912378,-77.022590,38.915500,-77.022200
1,1162,2012-01-01 00:10:05,2012-01-01 00:29:28,31400,Georgia & New Hampshire Ave NW,31103,16th & Harvard St NW,W00524,casual,0 days 00:19:23,38.936693,-77.024178,38.926283,-77.036390
2,1145,2012-01-01 00:10:23,2012-01-01 00:29:28,31400,Georgia & New Hampshire Ave NW,31103,16th & Harvard St NW,W00235,member,0 days 00:19:05,38.936693,-77.024178,38.926283,-77.036390
3,485,2012-01-01 00:15:41,2012-01-01 00:23:46,31101,14th & V St NW,31602,Park Rd & Holmead Pl NW,W00864,member,0 days 00:08:05,38.918116,-77.034394,38.932782,-77.028917
4,471,2012-01-01 00:15:42,2012-01-01 00:23:34,31102,11th & Kenyon St NW,31109,7th & T St NW,W00995,member,0 days 00:07:52,38.929464,-77.027822,38.915500,-77.022200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255673,300,2011-12-31 23:41:19,2011-12-31 23:46:20,31201,15th & P St NW,31214,17th & Corcoran St NW,W01459,member,0 days 00:05:01,38.909764,-77.034571,38.912057,-77.038667
3255674,387,2011-12-31 23:46:43,2011-12-31 23:53:10,31223,Convention Center / 7th & M St NW,31201,15th & P St NW,W01262,member,0 days 00:06:27,38.905856,-77.022267,38.909764,-77.034571
3255675,261,2011-12-31 23:47:27,2011-12-31 23:51:49,31107,Lamont & Mt Pleasant NW,31602,Park Rd & Holmead Pl NW,W00998,member,0 days 00:04:22,38.931901,-77.038745,38.932782,-77.028917
3255676,2060,2011-12-31 23:55:12,2012-01-01 00:29:33,31205,21st & I St NW,31222,New York Ave & 15th St NW,W00042,member,0 days 00:34:21,38.900717,-77.046450,38.899036,-77.033353
3255677,468,2011-12-31 23:55:56,2012-01-01 00:03:45,31221,18th & M St NW,31111,10th & U St NW,W01319,member,0 days 00:07:49,38.905045,-77.041781,38.917115,-77.025996

In [23]:
df21

,Start station,Start station number,End station,End station number,start_lat,start_lng,end_lat,end_lng,Member type,Start date,End date,Time,Duration
0,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member,2021-01-01 00:08:33,2021-01-01 00:33:53,0 days 00:25:20,1520
3,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member,2021-01-01 00:15:45,2021-01-01 00:21:20,0 days 00:05:35,335
4,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member,2021-01-01 00:17:46,2021-01-01 00:21:00,0 days 00:03:14,194
6,Bladensburg Rd & Benning Rd NE,31617.0,Good Hope Rd & MLK Ave SE,31802.0,38.900413,-76.982872,38.867373,-76.988039,casual,2021-01-01 00:19:06,2021-01-01 00:36:28,0 days 00:17:22,1042
9,14th & Otis Pl NW,31131.0,14th & R St NW,31202.0,38.934405,-77.032687,38.913046,-77.032008,member,2021-01-01 00:21:39,2021-01-01 00:31:07,0 days 00:09:28,568
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8180616,Park Pl & Rock Creek Church Rd NW,31137.0,11th & Kenyon St NW,31102.0,38.937135,-77.019125,38.929464,-77.027822,member,2023-06-30 23:56:15,2023-07-01 00:02:41,0 days 00:06:26,386
8180618,15th St & Constitution Ave NW,31321.0,14th St & Rhode Island Ave NW,31203.0,38.892244,-77.033234,38.908600,-77.032300,casual,2023-06-30 23:56:49,2023-07-01 00:43:54,0 days 00:47:05,2825
8180622,18th & New Hampshire Ave NW,31324.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.911268,-77.041829,38.910100,-77.044400,casual,2023-06-30 23:58:14,2023-07-01 00:24:14,0 days 00:26:00,1560
8180623,18th & New Hampshire Ave NW,31324.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.911268,-77.041829,38.910100,-77.044400,casual,2023-06-30 23:58:26,2023-07-01 00:20:06,0 days 00:21:40,1300
8180625,National Harbor Carousel,32423.0,National Harbor Carousel,32423.0,38.785900,-77.016700,38.785900,-77.016700,casual,2023-06-30 23:59:35,2023-07-01 00:38:55,0 days 00:39:20,2360

In [12]:
df11

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Time
0,475,2012-01-01 00:04:00,2012-01-01 00:11:56,31245,7th & R St NW / Shaw Library,31109,7th & T St NW,W01412,Member,0 days 00:07:56
1,1162,2012-01-01 00:10:05,2012-01-01 00:29:28,31400,Georgia & New Hampshire Ave NW,31103,16th & Harvard St NW,W00524,Casual,0 days 00:19:23
2,1145,2012-01-01 00:10:23,2012-01-01 00:29:28,31400,Georgia & New Hampshire Ave NW,31103,16th & Harvard St NW,W00235,Member,0 days 00:19:05
3,485,2012-01-01 00:15:41,2012-01-01 00:23:46,31101,14th & V St NW,31602,Park Rd & Holmead Pl NW,W00864,Member,0 days 00:08:05
4,471,2012-01-01 00:15:42,2012-01-01 00:23:34,31102,11th & Kenyon St NW,31109,7th & T St NW,W00995,Member,0 days 00:07:52
...,...,...,...,...,...,...,...,...,...,...
3255673,300,2011-12-31 23:41:19,2011-12-31 23:46:20,31201,15th & P St NW,31214,17th & Corcoran St NW,W01459,Member,0 days 00:05:01
3255674,387,2011-12-31 23:46:43,2011-12-31 23:53:10,31223,Convention Center / 7th & M St NW,31201,15th & P St NW,W01262,Member,0 days 00:06:27
3255675,261,2011-12-31 23:47:27,2011-12-31 23:51:49,31107,Lamont & Mt Pleasant NW,31602,Park Rd & Holmead Pl NW,W00998,Member,0 days 00:04:22
3255676,2060,2011-12-31 23:55:12,2012-01-01 00:29:33,31205,21st & I St NW,31222,New York Ave & 15th St NW,W00042,Member,0 days 00:34:21
3255677,468,2011-12-31 23:55:56,2012-01-01 00:03:45,31221,18th & M St NW,31111,10th & U St NW,W01319,Member,0 days 00:07:49

In [8]:
df11['Start date'] = pd.to_datetime(df11['Start date'])
df11['End date'] = pd.to_datetime(df11['End date'])
df11['Time'] = pd.to_timedelta(df11['Time'])
df11['Member type'] = df11['Member type'].astype('category')
df11['Member type'] = df11['Member type'].str.lower()

In [9]:
df21['Start date'] = pd.to_datetime(df21['started_at'])
df21['End date'] = pd.to_datetime(df21['ended_at'])
df21 = df21.rename(columns={"start_station_id": "Start station number", 
                            "end_station_name": "End station", 
                            "start_station_name": "Start station",
                            "end_station_id": "End station number", 
                            'member_casual': "Member type"})
df21['Member type'] = df21['Member type'].astype('category')
df21 = df21.drop(columns=['started_at', 'ended_at', 'ride_id'])
df21['Time'] = df21['End date'] - df21['Start date']
df21['Duration'] = df21['Time'].dt.total_seconds().astype('int64')

In [22]:
df21 = df21[df21['rideable_type'] == 'classic_bike']
df21 = df21.drop(columns=['rideable_type'])

In [29]:
df21.columns

# ['ride_id', 'rideable_type', 'started_at', 'ended_at',
#        'start_station_name', 'start_station_id', 'end_station_name',
#        'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
#        'member_casual'

# 'Duration', 'Start date', 'End date', , 'Bike number',
#        'Member type', 'Time'

#df11 ['Duration', 'Start date', 'End date', 'Start station number',
 #      'Start station', 'End station number', 'End station', 'Bike number',
  #     'Member type', 'Time']

Index(['Start station', 'Start station number', 'End station',
       'End station number', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'Member type', 'Start date', 'End date', 'Time', 'Duration'],
      dtype='object')

In [45]:
df11 = df11.merge(geo[['start station', 'start_lat', 'start_lng']], how='left', left_on='Start station', right_on='start station')

In [50]:
geo.rename(columns={'start_lat': 'end_lat', 'start_lng': 'end_lng', 'start station': 'end station'}, inplace=True)
df11 = df11.merge(geo[['end station', 'end_lat', 'end_lng']], how='left', left_on='End station', right_on='end station')

In [52]:
df11.drop(['start station', 'end station'], axis=1, inplace=True)

In [27]:
df11.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type', 'Time'],
      dtype='object')

In [30]:
#df21.to_csv('df21edited.csv', index=False)

In [56]:
df11.to_csv('df11edited.csv', index=False)