In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [47]:
daily12 = pd.read_csv("2011-2012\day.csv")
hourly12 = pd.read_csv("2011-2012\hour.csv")
#all_2012 = pd.read_csv("CSB_2021-2023_All.csv")

In [48]:
dd = daily12.copy()
hd = hourly12.copy()

In [49]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [50]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [51]:
display(dd, hd)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [54]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   Date        731 non-null    datetime64[ns]
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.5 KB

In [53]:
#play this code only once
hd['temp'] = (hd['temp'] * (39 -(-8))+(-8)).round(1)
hd['atemp'] = (hd['atemp'] * (50 + 16)-16).round(1)
hd['hum'] = (hd['hum'] * 100).round(1)
hd['windspeed'] = (hd['windspeed'] * 67 * 1.60934).round(1)
hd["dteday"] = pd.to_datetime(hd['dteday']) #to datetime
hd = hd.rename(columns={"dteday": "Date"})

dd['temp'] = (dd['temp'] * (39 + 8)-8).round(1)
dd['atemp'] = (dd['atemp'] * (50 + 16)-16).round(1)
dd['hum'] = (dd['hum'] * 100).round(1)
dd['windspeed'] = (dd['windspeed'] * 67 * 1.60934).round(1) #from mph to km/h
dd["dteday"] = pd.to_datetime(dd['dteday'])
dd = dd.rename(columns={"dteday": "Date"})

In [55]:
dd['temp'].max()

32.5

In [56]:
dd["holiday"] = dd["holiday"].astype("bool")
hd["holiday"] = hd["holiday"].astype("bool")
dd["workingday"] = dd["workingday"].astype("bool")
hd["workingday"] = hd["workingday"].astype("bool")

In [58]:
holiday_rows = dd[dd["holiday"] == True]
holidays = holiday_rows["Date"]
print(holidays)
#holidays.to_csv('holidays.csv', index=False)

16    2011-01-17
51    2011-02-21
104   2011-04-15
149   2011-05-30
184   2011-07-04
247   2011-09-05
282   2011-10-10
314   2011-11-11
327   2011-11-24
359   2011-12-26
366   2012-01-02
380   2012-01-16
415   2012-02-20
471   2012-04-16
513   2012-05-28
550   2012-07-04
611   2012-09-03
646   2012-10-08
681   2012-11-12
691   2012-11-22
724   2012-12-25
Name: Date, dtype: datetime64[ns]

In [59]:
hd['hum'].unique()

array([ 81.,  80.,  75.,  86.,  76.,  77.,  72.,  82.,  88.,  87.,  94.,
       100.,  71.,  66.,  57.,  46.,  42.,  39.,  44.,  47.,  50.,  43.,
        40.,  35.,  30.,  32.,  64.,  69.,  55.,  59.,  63.,  68.,  74.,
        51.,  56.,  52.,  49.,  48.,  37.,  33.,  28.,  38.,  36.,  93.,
        29.,  53.,  34.,  54.,  41.,  45.,  92.,  62.,  58.,  61.,  60.,
        65.,  70.,  27.,  21.,  25.,  26.,  31.,  73.,  24.,  23.,  22.,
        19.,  15.,  67.,  10.,   8.,  12.,  14.,  13.,  17.,  16.,  18.,
        96.,  20.,  85.,   0.,  90.,  83.,  78.,  84.,  89.,  79.,  97.,
        91.])

In [60]:
display(hd, dd)

,instant,Date,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,False,6,False,1,3.3,3.0,81.0,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,False,6,False,1,2.3,2.0,80.0,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,False,6,False,1,2.3,2.0,80.0,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,False,6,False,1,3.3,3.0,75.0,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,False,6,False,1,3.3,3.0,75.0,0.0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,False,1,True,2,4.2,1.0,60.0,17.7,11,108,119
17375,17376,2012-12-31,1,1,12,20,False,1,True,2,4.2,1.0,60.0,17.7,8,81,89
17376,17377,2012-12-31,1,1,12,21,False,1,True,1,4.2,1.0,60.0,17.7,7,83,90
17377,17378,2012-12-31,1,1,12,22,False,1,True,1,4.2,2.0,56.0,14.5,13,48,61
17378,17379,2012-12-31,1,1,12,23,False,1,True,1,4.2,2.0,65.0,14.5,12,37,49

,instant,Date,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,False,6,False,2,8.2,8.0,80.6,17.3,331,654,985
1,2,2011-01-02,1,0,1,False,0,False,2,9.1,7.3,69.6,26.8,131,670,801
2,3,2011-01-03,1,0,1,False,1,True,1,1.2,-3.5,43.7,26.8,120,1229,1349
3,4,2011-01-04,1,0,1,False,2,True,1,1.4,-2.0,59.0,17.3,108,1454,1562
4,5,2011-01-05,1,0,1,False,3,True,1,2.7,-0.9,43.7,20.2,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,False,4,True,2,3.9,-1.0,65.3,37.8,247,1867,2114
727,728,2012-12-28,1,1,12,False,5,True,2,3.9,0.8,59.0,16.8,644,2451,3095
728,729,2012-12-29,1,1,12,False,6,False,2,3.9,-0.0,75.3,13.4,159,1182,1341
729,730,2012-12-30,1,1,12,False,0,False,1,4.0,-0.7,48.3,37.8,364,1432,1796
730,731,2012-12-31,1,1,12,False,1,True,2,2.1,-1.2,57.8,16.7,439,2290,2729

In [61]:
#creating new weekday column to make it same with the database 2021-23 and putting to the same position where it was.
#now 0 is Monday, 6 is Sunday
dd.drop('weekday', axis=1, inplace=True)
dd['weekday'] = dd['Date'].dt.weekday
weekday_column = dd.pop('weekday')
new_position = dd.columns.get_loc("holiday") + 1
dd.insert(new_position, 'weekday', weekday_column)

hd.drop('weekday', axis=1, inplace=True)
hd['weekday'] = hd['Date'].dt.weekday
weekday_column = hd.pop('weekday')
new_position = hd.columns.get_loc("holiday") + 1
hd.insert(new_position, 'weekday', weekday_column)

Code to delete later

In [17]:
# checking the season begin ( important finding:Ukrainian system is different)
#display(hd.hd["season"] == 2)

# mask = hd["season"] == 2
# selected_rows = hd[mask]
# display(selected_rows)

AttributeError: 'DataFrame' object has no attribute 'hd'

In [91]:
humidity = pd.read_csv("2011-2012\humidity12011-03-10.csv")

In [92]:
humidity = humidity.rename(columns={"latitude": "Date", "longitude": "temp", "elevation": "hum", "utc_offset_seconds": "atemp", "timezone": "wmo code", "timezone_abbreviation": "windspeed" })
humidity = humidity.iloc[2:]

In [93]:
#formating time and preparing for concat
humidity["Date"] = pd.to_datetime(humidity['Date'])
humidity['hr'] = humidity['Date'].dt.hour
humidity['Date'] = humidity['Date'].dt.date

In [94]:
humidity.info()
humidity.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 2 to 25
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       24 non-null     object
 1   temp       24 non-null     object
 2   hum        24 non-null     object
 3   atemp      24 non-null     object
 4   wmo code   24 non-null     object
 5   windspeed  24 non-null     object
 6   hr         24 non-null     int32
dtypes: int32(1), object(6)
memory usage: 1.3+ KB

          Date  temp hum atemp wmo code windspeed  hr
2   2011-03-10   7.6  81   3.8        3      17.1   0
3   2011-03-10   7.4  84   3.6       51      17.3   1
4   2011-03-10   7.3  87   3.4       51      18.4   2
5   2011-03-10   7.4  88   3.4       51      19.5   3
6   2011-03-10   7.7  89   3.7       51      20.2   4
7   2011-03-10   8.0  90   4.2       51      20.3   5
8   2011-03-10   8.4  92   4.7       51      20.1   6
9   2011-03-10   8.5  95   4.9       55      21.2   7
10  2011-03-10   9.0  95   5.4       61      21.7   8
11  2011-03-10   9.5  95   6.0       61      21.4   9
12  2011-03-10   9.8  95   7.1       61      16.6  10
13  2011-03-10  10.0  95   7.0       61      19.2  11
14  2011-03-10  10.2  94   7.5       61      17.5  12
15  2011-03-10  10.5  94   7.9       61      17.4  13
16  2011-03-10  10.7  94   8.4       61      15.9  14

In [88]:
mask = hd["hum"] == 0
selected_rows = hd[mask]
display(selected_rows)

,instant,Date,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1551,1552,2011-03-10,1,0,3,0,False,3,True,3,8.0,5.0,0.0,27.4,3,0,3
1552,1553,2011-03-10,1,0,3,1,False,3,True,3,8.0,5.0,0.0,27.4,0,2,2
1553,1554,2011-03-10,1,0,3,2,False,3,True,3,8.0,5.0,0.0,27.4,0,1,1
1554,1555,2011-03-10,1,0,3,5,False,3,True,3,8.9,7.0,0.0,20.9,1,2,3
1555,1556,2011-03-10,1,0,3,6,False,3,True,3,8.9,6.0,0.0,35.4,0,12,12
1556,1557,2011-03-10,1,0,3,7,False,3,True,3,9.9,10.0,0.0,24.1,1,36,37
1557,1558,2011-03-10,1,0,3,8,False,3,True,3,9.9,10.0,0.0,30.6,1,43,44
1558,1559,2011-03-10,1,0,3,9,False,3,True,3,10.8,11.0,0.0,24.1,1,23,24
1559,1560,2011-03-10,1,0,3,10,False,3,True,3,10.8,11.0,0.0,17.7,0,17,17
1560,1561,2011-03-10,1,0,3,11,False,3,True,3,10.8,11.0,0.0,27.4,6,5,11
1561,1562,2011-03-10,1,0,3,12,False,3,True,3,11.7,12.0,0.0,24.1,4,30,34
1562,1563,2011-03-10,1,0,3,13,False,3,True,3,11.7,12.0,0.0,24.1,1,11,12
1563,1564,2011-03-10,1,0,3,14,False,3,True,3,12.7,13.0,0.0,32.2,0,12,12
1564,1565,2011-03-10,1,0,3,15,False,3,True,3,12.7,13.0,0.0,24.1,3,11,14
1565,1566,2011-03-10,1,0,3,16,False,3,True,3,11.7,12.0,0.0,27.4,1,20,21
1566,1567,2011-03-10,1,0,3,17,False,3,True,2,12.7,13.0,0.0,41.8,2,109,111
1567,1568,2011-03-10,1,0,3,18,False,3,True,3,12.7,13.0,0.0,38.6,2,80,82
1568,1569,2011-03-10,1,0,3,19,False,3,True,3,12.7,13.0,0.0,62.8,5,51,56
1569,1570,2011-03-10,1,0,3,20,False,3,True,3,8.9,6.0,0.0,35.4,9,29,38
1570,1571,2011-03-10,1,0,3,21,False,3,True,3,8.9,7.0,0.0,24.1,1,27,28
1571,1572,2011-03-10,1,0,3,22,False,3,True,2,8.0,6.0,0.0,14.5,4,30,34
1572,1573,2011-03-10,1,0,3,23,False,3,True,3,8.0,7.0,0.0,9.7,1,26,27

In [25]:
mask = dd["hum"] == 0
selected_rows = dd[mask]
display(selected_rows)

,instant,Date,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
68,69,2011-03-10,1,0,3,False,3,True,3,10.3,9.5,0.0,28.2,46,577,623

In [31]:
mask = hd["Date"] == '2011-03-09'
selected_rows = hd[mask]
display(selected_rows)

,instant,Date,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1527,1528,2011-03-09,1,0,3,0,False,2,True,1,4.2,3.0,65.0,9.7,0,9,9
1528,1529,2011-03-09,1,0,3,1,False,2,True,1,4.2,2.0,52.0,14.5,0,4,4
1529,1530,2011-03-09,1,0,3,2,False,2,True,1,4.2,2.0,52.0,14.5,1,1,2
1530,1531,2011-03-09,1,0,3,3,False,2,True,1,3.3,1.0,70.0,9.7,1,2,3
1531,1532,2011-03-09,1,0,3,4,False,2,True,1,3.3,1.0,75.0,11.3,0,2,2
1532,1533,2011-03-09,1,0,3,5,False,2,True,2,3.3,-0.0,81.0,14.5,1,7,8
1533,1534,2011-03-09,1,0,3,6,False,2,True,2,3.3,1.0,85.0,11.3,5,44,49
1534,1535,2011-03-09,1,0,3,7,False,2,True,2,3.3,-0.0,87.0,17.7,18,123,141
1535,1536,2011-03-09,1,0,3,8,False,2,True,2,3.3,-0.0,87.0,14.5,11,238,249
1536,1537,2011-03-09,1,0,3,9,False,2,True,2,4.2,-0.0,87.0,27.4,5,136,141
1537,1538,2011-03-09,1,0,3,10,False,2,True,2,6.1,3.0,75.0,27.4,8,49,57
1538,1539,2011-03-09,1,0,3,11,False,2,True,2,7.0,3.0,76.0,41.8,15,44,59
1539,1540,2011-03-09,1,0,3,12,False,2,True,2,7.0,4.0,76.0,27.4,14,84,98
1540,1541,2011-03-09,1,0,3,13,False,2,True,2,7.0,3.0,76.0,38.6,17,82,99
1541,1542,2011-03-09,1,0,3,14,False,2,True,2,8.0,4.0,76.0,32.2,10,61,71
1542,1543,2011-03-09,1,0,3,15,False,2,True,2,8.9,6.0,71.0,32.2,15,64,79
1543,1544,2011-03-09,1,0,3,16,False,2,True,2,8.0,4.0,76.0,35.4,10,102,112
1544,1545,2011-03-09,1,0,3,17,False,2,True,2,8.0,4.0,76.0,32.2,18,176,194
1545,1546,2011-03-09,1,0,3,18,False,2,True,2,8.0,5.0,76.0,27.4,12,176,188
1546,1547,2011-03-09,1,0,3,19,False,2,True,2,8.0,4.0,76.0,35.4,11,123,134
1547,1548,2011-03-09,1,0,3,20,False,2,True,2,7.0,5.0,87.0,20.9,4,87,91
1548,1549,2011-03-09,1,0,3,21,False,2,True,2,7.0,4.0,93.0,35.4,10,52,62
1549,1550,2011-03-09,1,0,3,22,False,2,True,3,7.0,5.0,93.0,17.7,4,17,21
1550,1551,2011-03-09,1,0,3,23,False,2,True,3,8.0,6.0,93.0,20.9,1,17,18