In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
daily12 = pd.read_csv("2011-2012\day.csv")
hourly12 = pd.read_csv("2011-2012\hour.csv")
#all_2012 = pd.read_csv("CSB_2021-2023_All.csv")

In [143]:
dd = daily12.copy()
hd = hourly12.copy()

In [5]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [144]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [7]:
display(dd, hd)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [145]:
#play this code only once
hd['temp'] = (hd['temp'] * (39 -(-8))+(-8)).round(1) #non-normalisation
hd['atemp'] = (hd['atemp'] * (50 + 16)-16).round(1)
hd['hum'] = (hd['hum'] * 100).round(1)
hd['windspeed'] = (hd['windspeed'] * 67 * 1.60934).round(1) #from mph to km/h
hd["dteday"] = pd.to_datetime(hd['dteday']) #to datetime
hd = hd.rename(columns={"dteday": "Date"})

dd['temp'] = (dd['temp'] * (39 + 8)-8).round(1)
dd['atemp'] = (dd['atemp'] * (50 + 16)-16).round(1)
dd['hum'] = (dd['hum'] * 100).round(1)
dd['windspeed'] = (dd['windspeed'] * 67 * 1.60934).round(1) 
dd["dteday"] = pd.to_datetime(dd['dteday'])
dd = dd.rename(columns={"dteday": "Date"})

dd["holiday"] = dd["holiday"].astype("bool") #changing to boolean
hd["holiday"] = hd["holiday"].astype("bool")
dd["workingday"] = dd["workingday"].astype("bool")
hd["workingday"] = hd["workingday"].astype("bool")

In [98]:
dd['temp'].max()

32.5

In [129]:
holiday_rows = dd[dd["holiday"] == True]
holidays = holiday_rows["Date"]
print(holidays)
#holidays.to_csv('holidays.csv', index=False)

16    2011-01-17
51    2011-02-21
104   2011-04-15
149   2011-05-30
184   2011-07-04
247   2011-09-05
282   2011-10-10
314   2011-11-11
327   2011-11-24
359   2011-12-26
366   2012-01-02
380   2012-01-16
415   2012-02-20
471   2012-04-16
513   2012-05-28
550   2012-07-04
611   2012-09-03
646   2012-10-08
681   2012-11-12
691   2012-11-22
724   2012-12-25
Name: Date, dtype: datetime64[ns]

In [101]:
hd['hum'].unique()

array([ 81.,  80.,  75.,  86.,  76.,  77.,  72.,  82.,  88.,  87.,  94.,
       100.,  71.,  66.,  57.,  46.,  42.,  39.,  44.,  47.,  50.,  43.,
        40.,  35.,  30.,  32.,  64.,  69.,  55.,  59.,  63.,  68.,  74.,
        51.,  56.,  52.,  49.,  48.,  37.,  33.,  28.,  38.,  36.,  93.,
        29.,  53.,  34.,  54.,  41.,  45.,  92.,  62.,  58.,  61.,  60.,
        65.,  70.,  27.,  21.,  25.,  26.,  31.,  73.,  24.,  23.,  22.,
        19.,  15.,  67.,  10.,   8.,  12.,  14.,  13.,  17.,  16.,  18.,
        96.,  20.,  85.,   0.,  90.,  83.,  78.,  84.,  89.,  79.,  97.,
        91.])

In [146]:
#creating new weekday column to make it same with the database 2021-23 and putting to the same position where it was.
#now 0 is Monday, 6 is Sunday
dd.drop('weekday', axis=1, inplace=True)
dd['weekday'] = dd['Date'].dt.weekday
weekday_column = dd.pop('weekday')
new_position = dd.columns.get_loc("holiday") + 1
dd.insert(new_position, 'weekday', weekday_column)

hd.drop('weekday', axis=1, inplace=True)
hd['weekday'] = hd['Date'].dt.weekday
weekday_column = hd.pop('weekday')
new_position = hd.columns.get_loc("holiday") + 1
hd.insert(new_position, 'weekday', weekday_column)

Importing missing values for humidity

In [61]:
humidity = pd.read_csv("2011-2012\humidity12011-03-10.csv")

In [62]:
humidity = humidity.rename(columns={"latitude": "Date", "longitude": "temp", "elevation": "hum", "utc_offset_seconds": "atemp", "timezone": "wmo code", "timezone_abbreviation": "windspeed" })
humidity = humidity.iloc[2:]

In [63]:
#formating time and preparing for concat
humidity["Date"] = pd.to_datetime(humidity['Date'])

In [64]:
humidity['hr'] = humidity['Date'].dt.hour

In [65]:
humidity['Date'] = pd.to_datetime(humidity['Date'].dt.date)

In [104]:
humidity.info()
humidity.head(30)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 2 to 25
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       24 non-null     datetime64[ns]
 1   temp       24 non-null     object
 2   hum        24 non-null     object
 3   atemp      24 non-null     object
 4   wmo code   24 non-null     object
 5   windspeed  24 non-null     object
 6   hr         24 non-null     int32
dtypes: datetime64[ns](1), int32(1), object(5)
memory usage: 1.3+ KB

         Date  temp hum atemp wmo code windspeed  hr
2  2011-03-10   7.6  81   3.8        3      17.1   0
3  2011-03-10   7.4  84   3.6       51      17.3   1
4  2011-03-10   7.3  87   3.4       51      18.4   2
5  2011-03-10   7.4  88   3.4       51      19.5   3
6  2011-03-10   7.7  89   3.7       51      20.2   4
7  2011-03-10   8.0  90   4.2       51      20.3   5
8  2011-03-10   8.4  92   4.7       51      20.1   6
9  2011-03-10   8.5  95   4.9       55      21.2   7
10 2011-03-10   9.0  95   5.4       61      21.7   8
11 2011-03-10   9.5  95   6.0       61      21.4   9
12 2011-03-10   9.8  95   7.1       61      16.6  10
13 2011-03-10  10.0  95   7.0       61      19.2  11
14 2011-03-10  10.2  94   7.5       61      17.5  12
15 2011-03-10  10.5  94   7.9       61      17.4  13
16 2011-03-10  10.7  94   8.4       61      15.9  14
17 2011-03-10  11.1  95   8.6       61      18.4  15
18 2011-03-10  11.4  96   8.8       55      19.6  16
19 2011-03-10  12.1  97   9.6       61      20.6  17
20 2011-03-10  12.7  96  10.7       53      18.4  18
21 2011-03-10  12.7  97  10.9       55      16.8  19
22 2011-03-10  12.7  98  10.7       55      18.9  20
23 2011-03-10  12.5  98  10.3       61      20.1  21
24 2011-03-10  12.5  99  10.1       61      20.9  22
25 2011-03-10  12.4  99   9.7       63      23.5  23

In [150]:
hd[hd["Date"] == '2011-03-10']

,instant,Date,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1551,1552,2011-03-10,1,0,3,0,False,3,True,3,8.0,5.0,81,27.4,3,0,3
1552,1553,2011-03-10,1,0,3,1,False,3,True,3,8.0,5.0,84,27.4,0,2,2
1553,1554,2011-03-10,1,0,3,2,False,3,True,3,8.0,5.0,87,27.4,0,1,1
1554,1555,2011-03-10,1,0,3,5,False,3,True,3,8.9,7.0,90,20.9,1,2,3
1555,1556,2011-03-10,1,0,3,6,False,3,True,3,8.9,6.0,92,35.4,0,12,12
1556,1557,2011-03-10,1,0,3,7,False,3,True,3,9.9,10.0,95,24.1,1,36,37
1557,1558,2011-03-10,1,0,3,8,False,3,True,3,9.9,10.0,95,30.6,1,43,44
1558,1559,2011-03-10,1,0,3,9,False,3,True,3,10.8,11.0,95,24.1,1,23,24
1559,1560,2011-03-10,1,0,3,10,False,3,True,3,10.8,11.0,95,17.7,0,17,17
1560,1561,2011-03-10,1,0,3,11,False,3,True,3,10.8,11.0,95,27.4,6,5,11
1561,1562,2011-03-10,1,0,3,12,False,3,True,3,11.7,12.0,94,24.1,4,30,34
1562,1563,2011-03-10,1,0,3,13,False,3,True,3,11.7,12.0,94,24.1,1,11,12
1563,1564,2011-03-10,1,0,3,14,False,3,True,3,12.7,13.0,94,32.2,0,12,12
1564,1565,2011-03-10,1,0,3,15,False,3,True,3,12.7,13.0,95,24.1,3,11,14
1565,1566,2011-03-10,1,0,3,16,False,3,True,3,11.7,12.0,96,27.4,1,20,21
1566,1567,2011-03-10,1,0,3,17,False,3,True,2,12.7,13.0,97,41.8,2,109,111
1567,1568,2011-03-10,1,0,3,18,False,3,True,3,12.7,13.0,96,38.6,2,80,82
1568,1569,2011-03-10,1,0,3,19,False,3,True,3,12.7,13.0,97,62.8,5,51,56
1569,1570,2011-03-10,1,0,3,20,False,3,True,3,8.9,6.0,98,35.4,9,29,38
1570,1571,2011-03-10,1,0,3,21,False,3,True,3,8.9,7.0,98,24.1,1,27,28
1571,1572,2011-03-10,1,0,3,22,False,3,True,2,8.0,6.0,99,14.5,4,30,34
1572,1573,2011-03-10,1,0,3,23,False,3,True,3,8.0,7.0,99,9.7,1,26,27

In [148]:
hd = pd.merge(hd, humidity[['hum', 'Date', 'hr']], on=['Date', 'hr'], how='left') #merge
hd.loc[hd['hum_x'] == 0, 'hum_x'] = hd.loc[hd['hum_x'] == 0, 'hum_y'] #replace 0 values
hd = hd.drop('hum_y', axis=1)
hd = hd.rename(columns={"hum_x": "hum"}) #rename again

#happy to say that it finally works in hd, but we have dd as well

# i calculated the average from RH not an Averaging Vapoor Pressures
# mask = hd["Date"] == '2011-03-10'
# selected_rows = hd[mask]
# display(selected_rows)
# display(selected_rows['hum'].tolist())
dd.loc[dd['Date'] == '2011-03-10', 'hum'] = 93

In [169]:
hd['Weekday'] = hd['Date'].dt.day_name()
dd['Weekday'] = dd['Date'].dt.day_name()

def season_name(Date):
    day_of_year = Date.timetuple().tm_yday
    if 80 <= day_of_year <= 171:return 'Spring'
    elif 172 <= day_of_year <= 263: return 'Summer'
    elif 264 <= day_of_year <= 355: return 'Autumn'
    else: return 'Winter'
dd['Season'] = dd['Date'].apply(season_name)
hd["Season"] = hd['Date'].apply(season_name)

Delete later

In [170]:
mask = hd["Date"] == '2011-03-10'
selected_rows = hd[mask]
display(selected_rows)
display(selected_rows['hum'].tolist())

,instant,Date,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,Weekday,Season
1551,1552,2011-03-10,1,0,3,0,False,3,True,3,8.0,5.0,81,27.4,3,0,3,Thursday,Winter
1552,1553,2011-03-10,1,0,3,1,False,3,True,3,8.0,5.0,84,27.4,0,2,2,Thursday,Winter
1553,1554,2011-03-10,1,0,3,2,False,3,True,3,8.0,5.0,87,27.4,0,1,1,Thursday,Winter
1554,1555,2011-03-10,1,0,3,5,False,3,True,3,8.9,7.0,90,20.9,1,2,3,Thursday,Winter
1555,1556,2011-03-10,1,0,3,6,False,3,True,3,8.9,6.0,92,35.4,0,12,12,Thursday,Winter
1556,1557,2011-03-10,1,0,3,7,False,3,True,3,9.9,10.0,95,24.1,1,36,37,Thursday,Winter
1557,1558,2011-03-10,1,0,3,8,False,3,True,3,9.9,10.0,95,30.6,1,43,44,Thursday,Winter
1558,1559,2011-03-10,1,0,3,9,False,3,True,3,10.8,11.0,95,24.1,1,23,24,Thursday,Winter
1559,1560,2011-03-10,1,0,3,10,False,3,True,3,10.8,11.0,95,17.7,0,17,17,Thursday,Winter
1560,1561,2011-03-10,1,0,3,11,False,3,True,3,10.8,11.0,95,27.4,6,5,11,Thursday,Winter
1561,1562,2011-03-10,1,0,3,12,False,3,True,3,11.7,12.0,94,24.1,4,30,34,Thursday,Winter
1562,1563,2011-03-10,1,0,3,13,False,3,True,3,11.7,12.0,94,24.1,1,11,12,Thursday,Winter
1563,1564,2011-03-10,1,0,3,14,False,3,True,3,12.7,13.0,94,32.2,0,12,12,Thursday,Winter
1564,1565,2011-03-10,1,0,3,15,False,3,True,3,12.7,13.0,95,24.1,3,11,14,Thursday,Winter
1565,1566,2011-03-10,1,0,3,16,False,3,True,3,11.7,12.0,96,27.4,1,20,21,Thursday,Winter
1566,1567,2011-03-10,1,0,3,17,False,3,True,2,12.7,13.0,97,41.8,2,109,111,Thursday,Winter
1567,1568,2011-03-10,1,0,3,18,False,3,True,3,12.7,13.0,96,38.6,2,80,82,Thursday,Winter
1568,1569,2011-03-10,1,0,3,19,False,3,True,3,12.7,13.0,97,62.8,5,51,56,Thursday,Winter
1569,1570,2011-03-10,1,0,3,20,False,3,True,3,8.9,6.0,98,35.4,9,29,38,Thursday,Winter
1570,1571,2011-03-10,1,0,3,21,False,3,True,3,8.9,7.0,98,24.1,1,27,28,Thursday,Winter
1571,1572,2011-03-10,1,0,3,22,False,3,True,2,8.0,6.0,99,14.5,4,30,34,Thursday,Winter
1572,1573,2011-03-10,1,0,3,23,False,3,True,3,8.0,7.0,99,9.7,1,26,27,Thursday,Winter

['81',
 '84',
 '87',
 '90',
 '92',
 '95',
 '95',
 '95',
 '95',
 '95',
 '94',
 '94',
 '94',
 '95',
 '96',
 '97',
 '96',
 '97',
 '98',
 '98',
 '99',
 '99']

In [152]:
mask = hd["hum"] == 0
selected_rows = hd[mask]
display(selected_rows)

Empty DataFrame
Columns: [instant, Date, season, yr, mnth, hr, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

In [16]:
# checking the season begin ( important finding:Ukrainian system is different)
#display(hd.hd["season"] == 2)

# mask = hd["season"] == 2
# selected_rows = hd[mask]
# display(selected_rows)

In [167]:

#mask = dd["hum"] == 0
mask = dd["Date"] == '2011-03-10'
selected_rows = dd[mask]
display(selected_rows)

,instant,Date,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
68,69,2011-03-10,1,0,3,False,3,True,3,10.3,9.5,93.0,28.2,46,577,623

In [175]:
hd.head()

,instant,Date,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp(°C),atemp,humidity(%),windspeed,Casual,Member,Total_rides,Weekday,Season
0,1,2011-01-01,1,0,1,0,False,5,False,1,3.3,3.0,81.0,0.0,3,13,16,Saturday,Winter
1,2,2011-01-01,1,0,1,1,False,5,False,1,2.3,2.0,80.0,0.0,8,32,40,Saturday,Winter
2,3,2011-01-01,1,0,1,2,False,5,False,1,2.3,2.0,80.0,0.0,5,27,32,Saturday,Winter
3,4,2011-01-01,1,0,1,3,False,5,False,1,3.3,3.0,75.0,0.0,3,10,13,Saturday,Winter
4,5,2011-01-01,1,0,1,4,False,5,False,1,3.3,3.0,75.0,0.0,0,1,1,Saturday,Winter

In [174]:
dd.head()

,instant,Date,season,yr,mnth,holiday,weekday,workingday,weathersit,temp(°C),atemp(°C),humidity(%),windspeed,Casual,Member,Total_rides,Weekday,Season
0,1,2011-01-01,1,0,1,False,5,False,2,8.2,8.0,80.6,17.3,331,654,985,Saturday,Winter
1,2,2011-01-02,1,0,1,False,6,False,2,9.1,7.3,69.6,26.8,131,670,801,Sunday,Winter
2,3,2011-01-03,1,0,1,False,0,True,1,1.2,-3.5,43.7,26.8,120,1229,1349,Monday,Winter
3,4,2011-01-04,1,0,1,False,1,True,1,1.4,-2.0,59.0,17.3,108,1454,1562,Tuesday,Winter
4,5,2011-01-05,1,0,1,False,2,True,1,2.7,-0.9,43.7,20.2,82,1518,1600,Wednesday,Winter

In [ ]:
# "atemp" providing a more human-centric perspective on temperature.

In [173]:
hd = hd.rename(columns={"temp": "temp(°C)", "hum": "humidity(%)", "casual": "Casual", "registered": "Member", "cnt":"Total_rides"})
dd = dd.rename(columns={"temp": "temp(°C)", "atemp": "atemp(°C)", "hum": "humidity(%)", "casual": "Casual", "registered": "Member", "cnt":"Total_rides"})